.map{
    /* background-image: url(./img/map.jpg);
    background-repeat: no-repeat; */
    /* width: 1240px; */

    width: 650px;
    position: absolute;
    text-align: center;
    display: flex;
    

    /* height: 1754px; */
    /* background-color: black; */
    /* flex: 2; */
}
.map1{
    border: 5px solid rgb(15, 104, 155);
    border-radius:10px;
}
.dataBase{
    /* display: flex;
    flex-direction: column;
    position:relative; */
    background-color: white;
    border: 5px solid rgb(15, 104, 155);
    border-radius:10px;
    /* margin: 5px;
    padding:10px;
    width: 30%;
    height: 100px;
    top: 120px;
    left: 68%; */
    text-align: left;
    padding: 10px;
    overflow-y: scroll;
}
[class^="box-"]{
    display: grid;
    place-items: center;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "A B"
    "A C"
    "A D";

    row-gap: 10px;
    grid-template-columns: 66.66% 33.33%;
    grid-template-rows: 5% 10% 82.6%;

}
.box-4{
    grid-area: A;
}
.box-1{
    grid-area: B;
    
}
.box-3{
    grid-area: C;
}
.box-2{
    grid-area:D;
}
.flex{
    display: flex;
}
.search1{
    display: flex;
}
.inputText{
    width: 80%;
    background-color: white;
    border: 5px solid rgb(15, 104, 155);
    border-radius:10px 0px 0px 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight: 600;
}
.submitForm{
    width: 20%;
    border: 5px solid rgb(15, 104, 155);
    border-left: 0px;
    border-radius:0px 10px 10px 0px;
    font-size:16px;
    font-weight: 600;
    background-color:white;
}
.lupa{
    width:35px;
    height: 35px;
}
.main{

    width: 100%; 
    max-width: 1000px;
    height: 930px;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    padding: 10px !important;
}
body{
    background-color: black !important;
    background-image: url(./img/back.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    
}
/* .search{
    position: relative;
    left: 71%;
    top: 6%;
    width: 500px;
    height:100px;
}
button{
    width: 500px;
    height:100px;
} */
/* .colors{
    n color: rgb(0, 44, 190);
    d color: rgb(216, 104, 0);
    i color: rgb(57, 179, 0);
    t color: rgb(112, 60, 0);
    u color: rgb(32, 100, 0);
    a color: rgb(100, 71, 128);
    s color: rgb(19, 109, 75);
    f color: rgb(184, 0, 201);
    r color: rgb(124, 91, 29);
} */

/* .n{
    border: 2px solid blue;
    opacity: 30%;
    background-color: blue;
    text-align: center;
} */
.descr{
    background-color: white;
    color: black;
    border: 5px solid rgb(15, 104, 155);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 60px;
    /* width: 10%;
    position: absolute;
    top: 0%;
    left: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
    opacity: 100%; */
    position: relative;
    display: grid;
}
/* div:hover .n{
    opacity: 100%;

} */
div:focus .descr{
    display: grid;
    opacity: 100%;
}
.part:focus .descr{
    display: grid;
    opacity: 100%;
}
.part{
    opacity: 30%;
}
.part:hover {
    opacity: 100%;

}
svg{
    position: absolute;
    top: 0;
    left: 0;

}
.color1{
    background-color:lightgrey;
    opacity: 100%;
}
.hoverLi{
    user-select:none;
}
/* .hoverLi:hover{
    background-color:lightgrey;
} */
path:hover{
    opacity: 100%;
}
/* .p{
    top: 20%;
} */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
}
@media(max-width:1400px){
    .map{
        width:585px;
    }
    .main{
        max-width: 900px;
        height:837px;
    }
    .container{
        grid-template-columns: 590px 33.33%;
        grid-template-rows: 5% 12% 80.6%;
    }
    .lupa{
        width:30px;
        height: 30px;
    }
}
@media(max-width:950px){
    .map{
        width:455px;
    }
    .main{
        max-width: 700px;
        height:651px;
    }
    .container{
        grid-template-columns: 460px 33.33%;
        grid-template-rows: 5% 15% 77.6%;
    }
    .lupa{
        width:20px;
        height: 20px;
    }
}
@media(max-width:760px){
    .container{
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "A"
        "B"
        "C"
        "D";
    
        row-gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: 45% 5% 11% 35%;
    
    }
    .map{
        width:310px;
    }
    .main{
        max-width: 320px;
        height:1000px;
    }
}
.part1{
    /* fill:rgb(255, 0, 0) */
}

/* .search {
  width: 100%;
  position: relative;
  display: flex;
  flex: 0 auto;
  top: 100px;
  left: 135%;
}

.searchTerm {
  width: 100%;
  border: 3px solid red;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: rgb(138, 0, 0);
}
.fa{
    width:30px;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid red;
  background: red;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
/* .wrap{
  width:17%;
  position: absolute;
  display:flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */ 